.card {
  position: relative;
}

.card__name {
  position: absolute;
  left: 140px;
  top: 18px;
  border-radius: 4px;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__image {
  cursor: pointer;
}
