@import url(../../vendor/fonts.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 40px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__logo-and-date {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-right: 24px;
}

.header__button-and-avatar {
  display: flex;
  align-items: center;
}

.header__button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.header__name {
  margin-right: 12px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
  margin-top: 4px;
}

.header__avatar-letter {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
}

.header__button-register {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__button-register:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.header__button-login {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__button-login:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
