@import url(../../vendor/fonts.css);

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 24px;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
